.notice{
  @apply transition ease-in-out bg-blue-300 text-white rounded w-auto inline-block py-2 px-4 mt-4;

  &:hover {
    @apply transition ease-in-out bg-blue-500;
  }
}

.alert{
  @apply transition ease-in-out bg-red-500 text-white rounded w-auto inline-block py-2 px-4 mt-4;

  &:hover {
    @apply transition ease-in-out bg-red-600;
  }
}

.alert-card {
  @apply flex items-center w-5/6 bg-gray-300 rounded-lg text-sm p-4 m-auto;

  i, svg {
    @apply text-red-700 mr-4;
  }

  p {
    @apply text-gray-700;
  }
}

@screen sm {
  .alert-card {
    @apply w-2/3 text-base;
  }
}

@screen md {
  .alert-card {
    @apply w-1/2 text-lg;
  }
}

@screen xl {
  .alert-card {
    @apply w-1/3;
  }
}
