.button, button {
  @apply bg-gray-100 text-brand-green-dark rounded-lg flex items-center shadow-frontal my-4 mx-2;
  min-height: 3rem;

  p {
    @apply font-medium text-base mx-4;
  }

  .icon {
    @apply bg-brand-green-dark text-white text-xl h-full rounded-r-lg flex items-center px-2;
  }
}

@screen sm {
  .button, button {
    min-height: 4rem;
    @apply my-6;

    p {
      @apply text-lg;
    }
    .icon{
      @apply text-2xl px-4;
    }
  }
}

@screen md {
  .button, button {
    min-height: 4.5rem;
    @apply my-8;

    p {
      @apply text-xl;
    }
    .icon{
      @apply text-3xl;
    }
  }
}

@screen lg {
  .button, button {
    min-height: 5rem;
    @apply my-8;

    p {
      @apply text-2xl;
    }
    .icon{
      @apply text-4xl;
    }
  }
}
