.card {
  @apply rounded-lg flex flex-col justify-center items-center pb-6 px-6 mx-auto my-8 w-1/2 text-center font-medium text-gray-700;
  min-width: 18rem;
  max-width: 30rem;

  &.gradient {
    background: rgb(255,144,82);
    background: linear-gradient(180deg, rgba(255,144,82,1) 0%, rgba(255,144,82,1) 50%, rgba(84,221,180,1) 100%);
  }

  .card-header-circular {
    @apply rounded-full text-white text-3xl w-auto flex px-1 pb-1;
    transform: translateY(50%);
   }

  .card-body {
    @apply bg-gray-100 w-full rounded-lg pt-10 pb-2 px-2;
  }
}

@screen sm {
  .card {
    .card-body {
      @apply px-4;
    }
  }
}

@screen md {
  .card{
    .card-body {
      @apply px-8;
    }
  }
}
