footer {
  @apply shadow-md py-2 my-4 bg-gray-100 flex justify-around flex-wrap;

  a {
    @apply text-xs font-semibold text-gray-700;
  }

  .social-networks{
    @apply flex justify-center w-full;
    
    * {
      @apply mx-2;
    }
  }
}

@screen lg {
  footer {
    a {
      @apply text-2xl;
    }
  }
}

@screen sm {
  footer {
    a {
      @apply text-lg
    }
  }
}
