.form{
  @apply flex justify-between flex-wrap;

  &.block {
    @apply block;
  }

  .question {
    @apply block bg-form-green-light text-form-green font-medium mx-4 px-4 rounded-lg mb-4;

    label {
      @apply text-brand-gray-dark font-light;
    }
  }

  .form-control {
    @apply block text-lg text-brand-gray-dark w-full px-4 py-2;

    input[type=checkbox] + label, input[type=radio] + label {
      @apply block font-medium relative my-2 capitalize;

      &:after {
        content: '';
        @apply h-6 w-6 ml-2 bg-gray-300 border border-gray-500 rounded-full absolute right-0;
      }
    }

    input[type=checkbox]:checked + label, input[type=radio]:checked + label {

      &:after{
        content: '';
        @apply bg-form-green border-form-green;
      }
    }

    [type=radio], [type=checkbox] {
      display: none;
    }

    input:not([type=checkbox]), select, textarea {
      @apply border-brand-gray-darker bg-white border-2 rounded-lg block shadow-input px-2 py-1 w-full;
    }



    small {
      @apply text-brand-gray-darker;
    }
  }
  .field {
    @apply mb-4;
    label {
      @apply text-left mb-2 block;
    }

    input, select, textarea {
      @apply shadow-inner bg-gray-400 text-gray-800 w-full rounded-lg py-2 px-4;
    }
  }
}

@screen sm {
  .form {

    .question {
      @apply flex items-center justify-between ;
    }

    .form-control {
      @apply w-1/2 text-base;
    }
  }
}

@screen md {
  .form {
    .form-control {
      @apply w-1/3 text-base;
    }
  }
}
