<div class="card bg-brand-teal shadow-lg rounded-none">
  <h2 class="text-2xl text-white mt-6">Iniciar sesión</h2>
  <div class="card-header-circular shadow-inner bg-brand-teal">
    <div class="rounded-full border-4 border-white py-2 px-3">
      <i class="fas fa-user-md text-5xl"></i>
    </div>
  </div>
  <div class="card-body shadow">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form block"}) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", required: true %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="flex justify-center">
        <button type="submit">
          <p>Iniciar sesión</p>
          <div class="icon"><i class="fas fa-sign-in-alt"></i></div>
        </button>
      </div>
    <% end %>

  </div>
</div>
