<% if notice %>
  <p class="notice"><i class="fa fa-exclamation-circle mr-2"></i><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><i class="far fa-times-circle mr-2"></i><%= alert %></p>
<% end %>
