<footer>
  <a href="#">Aviso de privacidad</a>
  <a href="#">Contáctanos</a>
  <a href="#">Términos y condiciones</a>
  <div class="social-networks">
    <a href="#" text="Cuenta oficial de Facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="#" text="Cuenta oficial de Twitter"><i class="fab fa-twitter"></i></a>
    <a href="#" text="Cuenta oficial de Instagram"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
