<header class="text-center">
  <div class="py-2 flex justify-center items-center bg-brand-orange text-xl sm:text-4xl text-white font-bold">
    <i class="fa fa-viruses mr-1"></i>
    <h1><%= defined?(title) ? title : "Ensayo Clínico" %></h1>
    <i class="fa fa-viruses ml-1"></i>
  </div>
  <% unless controller_name.eql?("sessions") %>
    <% if doctor_signed_in?%>
      <%= link_to "cerrar sesión", destroy_doctor_session_path, method: :delete, class: "text-red-600 float-right mr-4" %>
    <% else %>
      <%= link_to "iniciar sesión", new_doctor_session_path, class: "text-blue-500 float-right mr-4" %>
    <% end %>
    <br>
  <% end %>
  <%= render 'partials/alerts' %>
</header>
