<%= f.fields_for :historical_clinical_patients do |fcp| %>
  <div class="container mt-8">
    <div class="flex justify-center text-center">
      <h2 class="text-xl md:text-2xl lg:text-3xl text-brand-gray-darker font-medium">
        <i class="fas fa-notes-medical mr-2"></i>
        Información Clínica
      </h2>
    </div>
    <div class="form block">
      <div class="question">
        <p>Enfermedades previas</p>
        <div class="form-control">
          <%= fcp.collection_check_boxes :illness_ids, Illness.where.not(id: 1), :id, :name %>
        </div>
      </div>
      <div class="question">
        <p>Síntomas que presenta el paciente</p>
        <div class="form-control">
          <%= fcp.collection_check_boxes :symptom_ids, Symptom.where.not(id: 1), :id, :name %>
        </div>
      </div>
    </div>
    <div class="form">
      <div class="form-control">
        <%= fcp.label :fc, "Frecuencia cardiaca" %>
        <%= fcp.number_field :fc, min: 0 %>
        <small>por minuto</small>
      </div>
      <div class="form-control">
        <%= fcp.label :fr, "Frecuencia respiratoria" %>
        <%= fcp.number_field :fr, min: 0 %>
        <small>por minuto</small>
      </div>
      <div class="form-control">
        <%= fcp.label :sato2, "Hemoglobina saturada con oxíteno" %>
        <%= fcp.number_field :sato2, min: 0, max: 100 %>
        <small>Porcentaje</small>
      </div>
      <div class="form-control">
        <%= fcp.label :pas, "Presión arterial sistólica" %>
        <%= fcp.text_field :pas %>
      </div>
      <div class="form-control">
        <%= fcp.label :pad, "Presión arterial diastólica" %>
        <%= fcp.text_field :pad %>
      </div>
      <div class="form-control">
        <%= fcp.label :temp, "Temperatura axilar" %>
        <%= fcp.number_field :temp, min: 0, step: 0.1 %>
        <small>en grados celsius</small>
      </div>
      <div class="form-control">
        <%= fcp.label :covid_id, "Prueba COVID-19" %>
        <%= fcp.collection_select :covid_id, Covid.all, :id, :name, prompt: "Seleccione una opción" %>
      </div>
      <div class="form-control">
        <%= fcp.label :treatment_id, "Tratamiento" %>
        <%= fcp.collection_select :treatment_id, Treatment.all, :id, :name, prompt: "Seleccione una opción" %>
      </div>
      <div class="form-control">
        <%= fcp.label :destiny_id, "Destino" %>
        <%= fcp.collection_select :destiny_id, Destiny.all, :id, :name, prompt: "Seleccione una opción" %>
      </div>
      <div class="form-control">
        <%= fcp.label :destiny_date, "Fecha destino" %>
        <%= fcp.date_field :destiny_date %>
      </div>
      <div class="form-control">
        <%= fcp.label :hosp_motive_id, "Motivo de Hospitalización" %>
        <%= fcp.collection_select :hosp_motive_id, HospMotive.all, :id, :name, prompt: "Seleccione una opción" %>
      </div>
      <div class="form-control">
        <%= fcp.label :esthosp, "Estancia hospitalaria en piso" %>
        <%= fcp.number_field :esthosp, min: 0 %>
        <small>en días</small>
      </div>
      <div class="form-control">
        <%= fcp.label :estuci, "Estancia en UCI" %>
        <%= fcp.number_field :estuci, min: 0 %>
        <small>en días</small>
      </div>
    </div>
    <div class="form block">
      <div class="question">
        <p>Effectos secundarios</p>
        <div class="form-control">
          <%= fcp.collection_check_boxes :secondary_effect_ids, SecondaryEffect.where.not(id: 1), :id, :name %>
        </div>
      </div>
      <div class="form-control">
        <%= fcp.label :treatment_adherence_id, "Adherencia al tratamiento" %>
        <%= fcp.collection_select :treatment_adherence_id, TreatmentAdherence.all, :id, :name, prompt: "Seleccione una opción" %>
      </div>
    </div>
  </div>
<% end %>
