<%= form_with(model: @patient, url: test_patients_path(test_id: @test.id), local: true) do |f| %>
  <div class="container mt-8">
    <div class="flex justify-center text-center">
      <h1 class="text-2xl md:text-3xl lg:text-4xl text-brand-gray-darker font-medium"><i class="fa fa-address-card mr-2"></i>Datos personales</h1>
    </div>
    <div class="form">
      <div class="form-control">
        <%= f.label :name, "Nombre*" %>
        <%= f.text_field :name, required: true %>
      </div>
      <div class="form-control">
        <%= f.label :email, "Correo electrónico*" %>
        <%= f.email_field :email, required: true %>
      </div>
      <div class="form-control">
        <label for="">Fecha</label>
        <input type="date" value="<%= Date.today %>" disabled readonly>
      </div>
      <div class="form-control">
        <%= f.label :nss, "Número de Seguridad Social*" %>
        <%= f.text_field :nss, required: true, pattern: "\\d{8}" %>
        <small>8 dígitos</small>
      </div>
      <div class="form-control">
        <%= f.label :address, "Domicilio*" %>
        <%= f.text_field :address, required: true %>
      </div>
      <div class="form-control">
        <%= f.label :postal_code, "Código Postal*" %>
        <%= f.number_field :postal_code, required: true, pattern: "\\d{5}" %>
        <small>5 dígitos</small>
      </div>
      <div class="form-control">
        <%= f.label :phone, "Teléfono celular*" %>
        <%= f.text_field :phone, required: true, pattern: "\\d{10}" %>
        <small>10 dígitos</small>
      </div>
      <div class="form-control">
        <%= f.label :birthdate, "Fecha de cumpleaños*" %>
        <%= f.date_field :birthdate, required: true %>
      </div>
      <div class="form-control">
        <%= f.label :contact_phone, "Teléfono de un contacto*" %>
        <%= f.text_field :contact_phone, required: true, pattern: "\\d{10}" %>
        <small>10 dígitos</small>
      </div>
      <div class="form-control">
        <%= f.label :job_id, "Ocupación*" %>
        <%= f.collection_select :job_id, Job.all, :id, :name, required: true, prompt: "Seleccione una opción" %>
      </div>
      <div class="form-control">
        <%= f.label :gender, "Sexo*" %>
        <%= f.select :gender, Patient.genders.map { |key, val| [key.capitalize, key] }, { required: true, include_blank: "Selecciona una opcion" } %>
      </div>
      <div class="form-control">
        <%= f.label :weight, "Peso*" %>
        <%= f.number_field :weight, required: true, min: 0, max: 300, step: 0.01 %>
        <small>en kilogramos</small>
      </div>
      <div class="form-control">
        <%= f.label :height, "Talla*" %>
        <%= f.number_field :height, required: true, min: 0, max: 300, step: 0.01 %>
        <small>en metros</small>
      </div>
      <div class="form-control">
        <%= f.label :persalud, "Personal de salud en contacto con COVID*" %>
        <%= f.select :persalud, Patient.persaluds.map { |key, val| [key.capitalize, key] }, { required: true, include_blank: "Selecciona una opcion" } %>
      </div>
    </div>
  </div>
  <%= render 'clinical_form',     f: f %>
  <%= render 'laboratory_form',   f: f %>
  <div class="flex justify-around">
    <button type="submit">
      <p>Dar de alta</p>
      <div class="icon">
        <i class="fa fa-eye"></i>
      </div>
    </button>
  </div>
<% end %>
