<%= f.fields_for :historical_laboratory_patients do |flp| %>
  <div class="container mt-8">
    <div class="flex justify-center text-center">
      <h2 class="text-xl md:text-2xl lg:text-3xl text-brand-gray-darker font-medium"><i class="fas fa-prescription-bottle-alt mr-2"></i>Información de laboratorio</h2>
    </div>
    <div class="form">
      <div class="form-control"><%= flp.label :eritr, "Eritrocitos" %><%= flp.text_field :eritr %></div>
      <div class="form-control"><%= flp.label :hb, "Hemoglobina" %><%= flp.text_field :hb %></div>
      <div class="form-control"><%= flp.label :vgm, "Volumen globular medio" %><%= flp.text_field :vgm %></div>
      <div class="form-control"><%= flp.label :cmhb, "Conc. Media hb" %><%= flp.text_field :cmhb %></div>
      <div class="form-control"><%= flp.label :plaq, "Plaquetas" %><%= flp.text_field :plaq %></div>
      <div class="form-control"><%= flp.label :vpm, "Volumen plaquetario medio" %><%= flp.text_field :vpm %></div>
      <div class="form-control"><%= flp.label :leuct, "Leucocitos totales" %><%= flp.text_field :leuct %></div>
      <div class="form-control"><%= flp.label :neutrt, "Neutrófilos totales" %><%= flp.text_field :neutrt %></div>
      <div class="form-control"><%= flp.label :neutrsegm, "Nutrófilos Segmentados" %><%= flp.text_field :neutrsegm %></div>
      <div class="form-control"><%= flp.label :neutrb, "Neutrófilos en banda" %><%= flp.text_field :neutrb %></div>
      <div class="form-control"><%= flp.label :metamiel, "Metamielocitos" %><%= flp.text_field :metamiel %></div>
      <div class="form-control"><%= flp.label :promiel, "Promielocitos" %><%= flp.text_field :promiel %></div>
      <div class="form-control"><%= flp.label :blast, "Blastos" %><%= flp.text_field :blast %></div>
      <div class="form-control"><%= flp.label :eosin, "Eosinófilos" %><%= flp.text_field :eosin %></div>
      <div class="form-control"><%= flp.label :monoc, "Monocitos" %><%= flp.text_field :monoc %></div>
      <div class="form-control"><%= flp.label :linf, "Linfocitos" %><%= flp.text_field :linf %></div>
      <div class="form-control"><%= flp.label :gluc, "Glucosa" %><%= flp.text_field :gluc %></div>
      <div class="form-control"><%= flp.label :bun, "Nitrógeno uréico sérico" %><%= flp.text_field :bun %></div>
      <div class="form-control"><%= flp.label :urea, "Urea sérica" %><%= flp.text_field :urea %></div>
      <div class="form-control"><%= flp.label :dimer, "Dímeros D" %><%= flp.text_field :dimer %></div>
      <div class="form-control"><%= flp.label :il6, "Interleucina 6" %><%= flp.text_field :il6 %></div>
      <div class="form-control"><%= flp.label :tnf, "Factor de necrosis tumoral alfa" %><%= flp.text_field :tnf %></div>
      <div class="form-control"><%= flp.label :ogf, "Factor de crecimiento opioide" %><%= flp.text_field :ogf %></div>
    </div>
  </div>
<% end %>
