<div class="card gradient">
  <div class="card-header-circular bg-brand-orange">
    <div class="rounded-full border-4 border-white py-2 px-3">
      <i class="fas fa-user-check"></i>
    </div>
  </div>
  <div class="card-body">
    <h3 class="text-xl">Gracias por tu participación.</h3>
    <p>Paciente registrado y asignado a un bazo de control de manera aleatoria.</p>
  </div>
</div>
<div class="alert-card">
  <i class="fas fa-exclamation-triangle"></i>
  <p>Por favor indique al paciente que debe actualizar su información a través del <b>Diario del paciente</b> cada 24 hrs.</p>
</div>
<div class="flex justify-around">
  <button onclick="Turbolinks.visit('<%= root_path %>')"><p>Volver a la pantalla principal</p><div class="icon"><i class="fas fa-home"></i></div></button>
  <button onclick="Turbolinks.visit('<%= new_test_patient_path(test_id: @test.id) %>')"><p>Registrar un nuevo paciente</p><div class="icon"><i class="fas fa-user-plus"></i></div></button>
</div>
