@import "tailwindcss/base";

@import "tailwindcss/components";

body {
  @apply bg-brand-green-light;
}
// Importando los módulos customizados
@import "modules/footer";
@import "modules/container";
@import "modules/buttons";
@import "modules/alerts";
@import "modules/forms";
@import "modules/card";

@import "tailwindcss/utilities";

@import "@fortawesome/fontawesome-free";

@responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px rgba(0,0,0,1);
    }
  
    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
    }
  
    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
    }
  
    .text-shadow-none {
      text-shadow: none;
    }

    .svg-shadow {
        filter: drop-shadow(3px 3px 8px #606060);
    }
  }
