<div class="flex justify-around">
  <button onclick="Turbolinks.visit('<%= new_test_patient_path(test_id: @test.id) %>')">
    <p>Registrar nuevo paciente</p>
    <div class="icon"><i class="fas fa-user"></i></div>
  </button>
</div>
