<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensayo Clínico</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col justify-between min-h-screen">
    <%= render 'partials/header' %>
    <div class="font-body font-light">
      <%= yield %>
    </div>
    <%= render 'partials/footer' %>
  </body>
</html>
